node_modules
dist
dist-ssr
cypress/examples

# Symlinked USWDS files.
assets

# Playground test projects.
playground

# Static storybook doc files.
storybook-static

# Generated code coverage files.
coverage
