node_modules
.DS_Store
dist
dist-ssr
*.local
*.tgz
*.zip

# Cypress testing artifacts.
cypress/examples
cypress/videos
cypress/screenshots
cypress/downloads

# Storybook artifacts.
.storybook/examples
storybook-static

# Ignore test coverage files.
coverage
.nyc_output

# USWDS assets symlink.
assets

# Don't include .nojekyll file in library builds.
.nojekyll
