name: Tests

on:
  - workflow_dispatch
  - push
  - pull_request

jobs:
  # This job lints all files with ESLint.
  lint:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint files
        run: npm run lint

  # This job runs all Cypress tests.
  cypress-test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # TODO: Re-enable once a public release of the library is available.
          # Mac and windows env's take significantly longer to run.
          # - macos-latest
          # - windows-latest
        node:
          - 14
          - 16
          - 18

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: E2E tests on Node v${{ matrix.node }}
        if: github.actor == 'dependabot[bot]'
        uses: cypress-io/github-action@v4
        with:
          command: npm run test:e2e
          record: false

      - name: Component tests on Node v${{ matrix.node }}
        if: github.actor == 'dependabot[bot]'
        uses: cypress-io/github-action@v4
        with:
          # We have already installed everything.
          install: false
          command: npm run test:component
          record: false

      - name: Cypress.io E2E tests on Node v${{ matrix.node }}
        if: github.actor != 'dependabot[bot]'
        uses: cypress-io/github-action@v4
        with:
          command: npm run test:e2e -- --record
          record: true
          tag: node-${{ matrix.node }},e2e
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cypress.io component tests on Node v${{ matrix.node }}
        if: github.actor != 'dependabot[bot]'
        uses: cypress-io/github-action@v4
        with:
          # We have already installed everything.
          install: false
          command: npm run test:component -- --record
          record: true
          tag: node-${{ matrix.node }},component
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload coverage to Codecov
        if: github.actor != 'dependabot[bot]'
        uses: codecov/codecov-action@v3.1.1
        with:
          file: ./coverage/lcov.info
